@use "sass:math";
@function rem($px) {
	@return math.div($px, 16) + rem;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-h-center {
	display: flex;
	align-items: center;
}
@mixin flex-v-center {
	display: flex;
	justify-content: center;
}

@mixin desktop {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin display-text {
	font-family: Fraunces, serif;
	font-size: rem(32);
	font-weight: 700;
	line-height: rem(32);
}
@mixin body-text {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: rem(23);
	color: $dark-200;
}
